.jumbotron
  %i.icon-lightbulb.icon-large
  
  %h2 Do you have an idea ?
  %h1 Share it with us !

  %a.btn.btn-large.btn-alpha{ href: new_user_session_path }
    %i.icon-signin.icon-2x.pull-left
      Sign In

  %a.btn.btn-large.btn-lightbulb{ href: new_user_registration_path }
    %i.icon-user.icon-2x.pull-left
      Sign Up