.jumbotron
  %i.icon-lightbulb.icon-large
  
  %h2 Do you have an idea ?
  %h1 Share it with us !

  %a.btn.btn-large.btn-alpha{ href: new_user_session_path }
    %i.icon-signin.icon-2x.pull-left
      Sign In

  %a.btn.btn-large.btn-lightbulb{ href: new_user_registration_path }
    %i.icon-user.icon-2x.pull-left
      Sign Up

  - if @recent_ideas.any?
    .hrd

    %h2 Recent ideas
    %table.recent-ideas.span12
      - @recent_ideas.each do |idea|
        %tr
          %td= truncate idea.content
          %td
            by
            = idea.user.email