.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.jumbotron {
  text-align: center;
  //color: #333;
  
  h1 {
    font-size: 5em;
    line-height: 1;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 4em;
    line-height: 1;
  }

  i {
    color: rgb(231, 231, 139);
    text-shadow: 2px 2px 2px black;
  }
  .icon-large {
    font-size: 11em
  }
}

.footer { 
  p {
    text-align: center;
  }
}